#firstHalf{
    display: flex;
    width: 100%;
    height: 975px;
    background-image: url(https://i.ibb.co/JCVjQkt/Screen-Shot-2021-10-20-at-8-13-19-PM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#secondHalf{
    height: 1140px;
    background-color: #090b13;
}

#invisibleNav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logInButton{
    display: flex;
    width: 94px;
    height: 38px;
    border: 1px solid white;
    background-color: rgba(15, 15, 15, 0.5);
    border-radius: 5px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: background-color 200ms, color 200ms ;
}

#logInButton:hover{
    background-color: white;
    color: black;
}

#logInText{
}

#middleDiv{
    display: flex;
    width: 750px;
    height: 483px;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#picInMid{
    width: 700px;
    height: 162px;
    background-image: url(https://i.ibb.co/x50TSXN/Ultra-Plus-Logo.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

#signUpInMid{
    margin-top: 50px;
    background-color: cornsilk;
}
