#firstHalf{
    display: flex;
    width: 100%;
    height: 674px;
    background-image: url(https://i.stack.imgur.com/y9DpT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}

#secondHalf{
    height: 1140px;
    background-color: #090b13;
}

#invisibleNav{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logInButton{
    display: flex;
    width: 94px;
    height: 38px;
    border: 1px solid black;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#logInText{
}

#middleDiv{
    display: flex;
    width: 750px;
    height: 483px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#picInMid{
    width: 700px;
    height: 162px;
    background-image: url(https://i.stack.imgur.com/y9DpT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#signUpInMid{
    margin-top: 50px;
    background-color: cornsilk;
}
