#page{
    display: flex;
    height: 960px;
    background-color: crimson;
    flex-direction: column;
    align-items: center;
}

#watchlistNameDiv{
    display: flex;
    /* width: 90%; */
    margin-top: 125px;
    margin-left: 125px;
}

#nameText{
    font-size: 50px;
}

#editWatchlistForm{
    /* display: flex; */
}


#showContainer{
    margin-top: 25px;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
    margin-bottom: 100px;
    background-color: blue;
}

#showImage{
    width: 240px;
    height: 135px;
    border-radius: 4px;
}

#nameInput{
    margin-top: 5px;
    width: 350px;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgb(62, 65, 78);
    color: white;
    border: none;
}

#cancelButton{
    display: flex;
    width: 160px;
    height: 40px;
    background-color: rgb(75, 78, 90);
    border-radius: 5px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms, color 200ms ;
}

#saveButton{
    /* width: 369px;
    height: 54px; */
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: rgb(0, 114, 210);
    color: white;
    cursor: pointer;
    transition: background-color 300ms;
    /* position: absolute;
    right: 380px; */
}
