#page{
    /* display: flex;
    height: 910px;
    justify-content: center;
    background-color: rgb(26, 29, 41); */
    background-color: rgb(26, 29, 41);
    border-radius:4px;
    color: white;
    width: 560px;
    padding: 20px 24px;
}

#midContainer{
    display: flex;
    /* width: 700px; */
    height: 310px;
    /* margin-top: 80px; */
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

#nameInput{
    margin-top: 5px;
    width: 350px;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgb(62, 65, 78);
    color: white;
    border: none;
}

#text{
    color: white;
    font-size: 30px;
    font-weight: bold;
    /* margin-left: 15px; */
}

#picDiv{
    width: 207px;
    height: 207px;
    position: relative;
    top: 45px;
    z-index: 0;
}

#profileForm{
    margin-top: 25px;
}
#saveDiv{
    margin-top: 25px;
}

#addProfileDiv{
    /* margin-top: 20px; */
    /* margin-left: 50px; */
    /* width: 70%; */
    text-align: center;
}

#cancelButton{
    display: flex;
    width: 160px;
    height: 40px;
    background-color: rgb(75, 78, 90);
    border-radius: 5px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms, color 200ms ;
}

#selectDropdown{
    background-color: rgb(62, 65, 78);
    color: white;
    width: 369px;
    height: 35px;
    text-align: center;
}

#saveButton{
    width: 369px;
    height: 54px;
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: rgb(0, 114, 210);
    color: white;
    cursor: pointer;
    transition: background-color 300ms;
}

#editButton{
    position: relative;
    top: 215px;
    right: 50px;
    color: white;
    font-size: 25px;
    z-index: 1;
}

#errors{
    margin-top: 20px;
    color: white;
}
