#page{
    display: flex;
    /* height: ; */
    background-color: rgb(26, 29, 41);
    flex-direction: column;
    align-items: center;
}

#carousel{
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: rgb(26, 29, 41);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#leftarrow{
    display: flex;
    color: white;
    font-size: 25px;
    /* background-color: rgba(15, 15, 15, 0.5); */
    background: linear-gradient(to left, rgba(0,0,0,0.7), transparent, transparent);
    /* background: linear-gradient(to right, rgba(0,0,0,0.7), transparent, transparent); */
    width: 2.1%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms;
    cursor: pointer;
}

#leftarrow:hover{
    background-color: rgba(15, 15, 15, 0.7);
}

#middle{
    display: flex;
    /* width: 750px; */
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#middlePic{
    width: 250px;
    height: 250px;
}

#rightarrow{
    display: flex;
    color: white;
    font-size: 25px;
    /* background-color: rgba(15, 15, 15, 0.5); */
    /* background: linear-gradient(to left, rgba(0,0,0,0.7), transparent, transparent); */
    background: linear-gradient(to right, rgba(0,0,0,0.7), transparent, transparent);
    width: 2.1%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms;
    cursor: pointer;
}

#rightarrow:hover{
    background-color: rgba(15, 15, 15, 0.7);
}

#studiosContainer{
    display: flex;
    margin-top: 40px;
    height: 185px;
    width: 90%;
    background-color: brown;
    gap: 20px 25px;
    justify-content: center;
    align-items: center;
}

.studioBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 329px;
    height: 185px;
    background-color: rgb(117, 111, 111);
    cursor: pointer;
}

/* #mappa{
    background-image: url('https://i.ibb.co/WvQ3N9D/508px-MAPPA-Logo-svg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

#logo{
    width: 100%;
    height: 100%;
}

#mappa:hover{
    background-image: url('https://i.ibb.co/4m4NBKZ/jujutsu-kaisen.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* #bones{
    background-image: url('https://i.ibb.co/RScxd4D/829-8290680-48kib-2000x410-bones-bones-studio-anime-logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

#bones:hover{
    background-image: url('https://i.ibb.co/LhZn9HV/163c9dbd2a54134ce5f6728176d2b442.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* #madhouse{
    background-image: url('https://i.ibb.co/D9z9LkH/1200px-Madhouse-studio-logo-svg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

#madhouse:hover{
    background-image: url('https://i.ibb.co/BCxt78c/FBQ1i19.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*
#wit{
    background-image: url('https://i.ibb.co/P9P7mLx/220px-Wit-studio-svg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

#wit:hover{
    background-image: url('https://i.ibb.co/K2SdnNY/anime-vinland-saga.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* #toei{
    background-image: url('https://i.ibb.co/vB5wcq6/1200px-Toei-Animation-logo-svg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

#toei:hover{
    background-image: url('https://i.ibb.co/G0LT2NB/208598.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#showContainer{
    margin-top: 25px;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
    margin-bottom: 100px;
    background-color: transparent
}


#showImage{
    /* width: 240px;
    height: 135px; */
    width: 329px;
    height: 185px;
    border-radius: 4px;
}

#studioText{
    cursor: pointer;
}
