#page{
    display: flex;
    /* height: ; */
    background-color: crimson;
    flex-direction: column;
    align-items: center;
}

#carousel{
    margin-top: 100px;
    height: 326px;
    width: 90%;
    background-color: blue
}

#studiosContainer{
    margin-top: 40px;
    height: 135px;
    width: 90%;
    background-color: brown;
}

#showContainer{
    margin-top: 25px;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
    margin-bottom: 100px;
    background-color: blue;
}


#showImage{
    width: 240px;
    height: 135px;
    border-radius: 4px;
}
