#page{
    display: flex;
    /* height: ; */
    background-color: rgb(26, 29, 41);
    flex-direction: column;
    align-items: center;
}

#carousel{
    margin-top: 100px;
    height: 500px;
    width: 100%;
    background-color: rgb(26, 29, 41);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#leftarrow{
    display: flex;
    color: white;
    font-size: 25px;
    /* background-color: rgba(15, 15, 15, 0.5); */
    background: linear-gradient(to left, rgba(0,0,0,0.7), transparent, transparent);
    /* background: linear-gradient(to right, rgba(0,0,0,0.7), transparent, transparent); */
    width: 2%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms;
    cursor: pointer;
}

#leftarrow:hover{
    background-color: rgba(15, 15, 15, 0.7);
}

#middle{
    display: flex;
    /* width: 750px; */
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

#middlePic{
    width: 250px;
    height: 250px;
}

#rightarrow{
    display: flex;
    color: white;
    font-size: 25px;
    /* background-color: rgba(15, 15, 15, 0.5); */
    /* background: linear-gradient(to left, rgba(0,0,0,0.7), transparent, transparent); */
    background: linear-gradient(to right, rgba(0,0,0,0.7), transparent, transparent);
    width: 2%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms;
    cursor: pointer;
}

#rightarrow:hover{
    background-color: rgba(15, 15, 15, 0.7);
}

#studiosContainer{
    margin-top: 40px;
    height: 135px;
    width: 90%;
    background-color: brown;
}

#showContainer{
    margin-top: 25px;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
    margin-bottom: 100px;
    background-color: transparent
}


#showImage{
    /* width: 240px;
    height: 135px; */
    width: 329px;
    height: 185px;
    border-radius: 4px;
}
