#navContainer{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(26, 29, 41); */
    background-color: rgba(15, 15, 15, 0.9);
    border-bottom: 1px solid rgb(75, 78, 90);
    color: white;

}

#navPicLinkDiv{
    display: flex;
    align-items: center;
}

#navPic{
    width: 100px;
    height: 48px;
    background-image: url(https://i.ibb.co/x50TSXN/Ultra-Plus-Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 30px;

}

#profileDiv{
    display: flex;
    /* margin-right: 30px; */
    width: 165px;
    align-items: center;
}

#nameText{
    width: 80px;
    /* margin-right: 20px; */
}

#profilePic{
    width: 60px;
    height: 60px;
}

#linksDiv{
    color: white;
    text-decoration: none;
}

.link{
    color: white;
    text-decoration: none;
    margin-left: 40px;

}

.text{
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-position: left 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 200ms,
      background-position 0s 200ms;
}

.text:hover{
    background-position: 0 100%;
    background-size: 100% 2px;
}

.icon{
    margin-right: 10px;
}

/* #editProfile{
    display: flex;
    width: 160px;
    height: 40px;
    background-color: rgb(75, 78, 90);
    border-radius: 5px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms, color 200ms ;
} */

/* #editProfile:hover{
    background-color: rgba(99, 99, 99);
} */

.popOut{
    z-index: 0;
    position: absolute;
    display: flex;
    top: 70px;
    right: 0;
    background-color: rgba(15, 15, 15, 0.9);
    /* background-color: rgb(37, 35, 35); */
    /* color: white; */
    /* box-shadow: 0px 4px 8px #685e5e; */
    overflow:auto;
    padding: 10px;
    overflow-wrap: break-word;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
    width: 220px;
}

.logOutButton{
    margin-top: 40px;
    width: 100px;
    height: 50px;
    padding: 10px;
    /* margin-top: 25px; */
    border: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: rgb(75, 78, 90);
    color: white;
    cursor: pointer;
    transition: background-color 300ms;
}

.logOutButton:hover{
    background-color: rgba(99, 99, 99);


}

.change{
    font-size: 16px;
    height: 20%;
    display: flex;
    overflow-wrap: break-word;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.listing{
    /* margin-top: 20px;
    margin-bottom: 20px; */
    height: 20%;
    text-align: center;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;

}
