#navContainer{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(26, 29, 41); */
    background-color: transparent;
    border-bottom: 1px solid rgb(75, 78, 90);
    color: white;

}

#navPicLinkDiv{
    display: flex;
    align-items: center;
}

#navPic{
    width: 100px;
    height: 48px;
    background-image: url(https://i.ibb.co/x50TSXN/Ultra-Plus-Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 30px;

}

#profileDiv{
    margin-right: 30px;
}

#linksDiv{
    color: white;
    text-decoration: none;
}

.link{
    color: white;
    text-decoration: none;
    margin-left: 40px;

}

.text{
    display: inline-block;
    padding-bottom: 2px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-position: left 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 200ms,
      background-position 0s 200ms;
}

.text:hover{
    background-position: 0 100%;
    background-size: 100% 2px;
}

.icon{
    margin-right: 10px;
}

/* #editProfile{
    display: flex;
    width: 160px;
    height: 40px;
    background-color: rgb(75, 78, 90);
    border-radius: 5px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms, color 200ms ;
} */

/* #editProfile:hover{
    background-color: rgba(99, 99, 99);
} */
