#navContainer{
    /* position: fixed; */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #090b13;

}

#navPic{
    width: 100px;
    height: 48px;
    background-image: url(https://i.ibb.co/x50TSXN/Ultra-Plus-Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 30px;

}

#page{
    display: flex;
    height: 910px;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 80px;
    margin-left: 80px;
    flex-direction: column;
}

#chooseDiv{
    font-size: 32px;
}

#avatarContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
}
