#page{
    display: flex;
    height: 920px;
    background-color: crimson;
    flex-direction: column;
    /* align-items: center; */
}

#showDetailsDiv{
    margin-top: 25px;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 25px;
    margin-bottom: 100px;
    background-color: blue;
}

#titlePicDiv{
    width: 341px;
    height: 192px;
}
