#navContainer{
    /* position: fixed; */
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #090b13;
}

#editProfileButton{
    display: flex;
    width: 160px;
    height: 40px;
    background-color: rgb(75, 78, 90);
    border-radius: 5px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    transition: background-color 200ms, color 200ms ;
}

#editProfileButton:hover{
    background-color: rgba(99, 99, 99);
}


#page{
    display: flex;
    height: 910px;
    justify-content: center;
    /* align-items: center; */
    margin-top: 80px;
}

#midContainer{
    display: flex;
    width: 1343px;
    height: 800px;
    background-color: rgb(7, 7, 124);
    flex-direction: column;
    align-items: center;
}

#whosDiv{
    display: flex;
    height: 62px;
    align-items: center;
    font-size: 32px;
    padding: 10px;
}


#profileContainer{
    display: flex;
    margin-top: 50px;
}

#profileDiv{
    width: 176px;
    height: 228px;
    background-color: red;
}
